# Remove if necessary
*.iml

# We share the local.properties for user to edit
# EDIT:
#/local.properties

.gradle
/.idea/workspace.xml
/.idea/libraries

# Apparently IntelliJ IDEA generate Java package stubs under: 
# ./app/src/main/gen/ search for "Generated_by_IDEA"
/app/src/main/gen

/build
/captures
.externalNativeBuild
.DS_Store
