# Remove if necessary
*.iml

# We share the local.properties for user to edit
# EDIT:
#/local.properties

.gradle
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
