<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.srlabs.snoopsnitch"
    android:installLocation="auto" >

    <!-- For detailed info on the Manifest layout, please consult:
         https://developer.android.com/guide/topics/manifest/manifest-intro.html -->

    <uses-sdk />

    <!-- The permission scheme is different before,between and after AOS 5.1 (API 22) to 6.0 (API 23) -->

    <!-- For available groups see: https://developer.android.com/guide/topics/security/permissions.html -->
    <!-- We may need to consider:
         android:permissionGroup="android.permission-group.LOCATION"
         android:permissionGroup="android.permission-group.PHONE"
         android:permissionGroup="android.permission-group.SMS"
         android:permissionGroup="android.permission-group.STORAGE" -->


    <!-- In anticipation for 1.1.0 bug fix: permission crash:
           "DatabaseUtils(  834): java.lang.SecurityException: Permission Denial"
         also see:
           http://stackoverflow.com/questions/28134128/android-permission-interact-across-users-full
         -->
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
                     android:permissionGroup="android.permission-group.STORAGE"
                     android:protectionLevel="dangerous" />

    <!-- Basic (and original) permissions -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /-->
    
    <!-- Emi: In anticipation for 1.1.1 automatic network changes etc.-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission." />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CELL_BROADCASTS" />

    <!-- Google non-3rd party:  Let's try this, since GET_TASKS is deprecated.. -->
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />

    <!-- If we want to make this a system app see:
         https://developer.android.com/reference/android/Manifest.permission.html -->
    <!--
    <uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES" />
    <uses-permission android:name="android.permission.DIAGNOSTIC" />
    <uses-permission android:name="android.permission.FACTORY_TEST" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    / -->


    <!-- HARDWARE:  None of these tags are required to run app, but recommended... -->
    <uses-feature android:name="android.hardware.location" android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" android:required="true" />
    <uses-feature android:name="android.hardware.location.network" android:required="true" />
    <uses-feature android:name="android.hardware.telephony" android:required="true" />
    <uses-feature android:name="android.hardware.telephony.cdma" android:required="true" />
    <uses-feature android:name="android.hardware.telephony.gsm" android:required="true" />

    <!-- This app currently only works in portrait mode -->
    <uses-feature android:name="android.hardware.screen.portrait" />

    <!-- SOFTWARE:  These have possibly become required in later APIs. -->
    <uses-feature android:name="android.software.sip.voip" android:required="false" />
    <uses-feature android:name="android.software.webview" android:required="true" />

    <!-- see: https://developer.android.com/guide/practices/screen-compat-mode.html -->
    <supports-screens android:xlargeScreens="false"/>

    <!-- NOTE:
         allowBackup        - If false, no backup or restore of the application will ever be performed, even by a full-system backup
         fullBackupContent  - This attribute points to an XML file that contains full backup rules for Auto Backup.
            android:fullBackupOnly     - API >20  [false]
            android:extractNativeLibs  - API >22  [true]
         to disable lint, use:  "disable 'UnusedAttribute'" in build.gradle
         -->
    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:fullBackupOnly="false"
        android:restoreAnyVersion="false"
        android:supportsRtl="false"
        android:extractNativeLibs="true"
        android:icon="@drawable/ic_content_imsi_event"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <receiver
            android:name="de.srlabs.snoopsnitch.BootCompletedIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <!-- Launch Activity ??  -->
        <activity
            android:name="de.srlabs.snoopsnitch.StartupActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main/Dashboard Activity (?) -->
        <activity
            android:name="de.srlabs.snoopsnitch.DashboardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" >
        </activity>
        
        <!-- Detailed Chart Activity -->
        <activity
             android:name="de.srlabs.snoopsnitch.DetailChartActivity"
             android:screenOrientation="portrait"
             android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity">     
        </activity>
        
        <!-- Map Activity -->
        <activity
             android:name="de.srlabs.snoopsnitch.MapActivity"
             android:screenOrientation="portrait"
             android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity">     
        </activity>
        
        <!-- Local Map Activity -->
        <activity
             android:name="de.srlabs.snoopsnitch.LocalMapActivity"
             android:screenOrientation="portrait"
             android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity">     
        </activity>

        <!-- Test Activity -->
        <activity
            android:name="de.srlabs.snoopsnitch.MsdServiceHelperTest"
            android:label="@string/app_name"
            android:screenOrientation="portrait" 
            android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity">
        </activity>

        <!-- Active Test Advanced Mode -->
        <activity
            android:name="de.srlabs.snoopsnitch.ActiveTestAdvanced"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity" >
        </activity>


        <!-- Settings Activity -->
        <activity
            android:name="de.srlabs.snoopsnitch.SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <!-- android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity" -->
        </activity>
        
        <!-- About Activity -->
        <activity
            android:name="de.srlabs.snoopsnitch.AboutActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity" >
        </activity>
        
        <!-- Network Info Activity -->
        <activity
            android:name="de.srlabs.snoopsnitch.NetworkInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity" >
        </activity>

        <!-- Upload Debug Activity -->
        <activity
            android:name="de.srlabs.snoopsnitch.UploadDebugActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity" >
        </activity>

        <!-- Dialog for enabling Auto-Upload Mode from Notification -->
        <activity
            android:name="de.srlabs.snoopsnitch.EnableAutoUploadModeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity" >
        </activity>

        <!-- Crash Upload Activity -->
        <activity
            android:name="de.srlabs.snoopsnitch.CrashUploadActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true">
        </activity>


        <!-- diag-helper Service  ?? -->
        <!-- android:description="This service"
             android:label="@string/app_name"
             android:singleUser         If set to true, a single instance of this component will run for all users.
             android:stopWithTask       If set to true, this service with be automatically stopped when the user remove a task rooted in an activity owned by the application.
             android:process            Specify a specific process that the associated code is to run in.
             -->
        <!-- For more info on this tag, see:
             https://developer.android.com/reference/android/R.styleable.html#AndroidManifestService
             -->
        <service
            android:name="de.srlabs.snoopsnitch.qdmon.MsdService"
            android:exported="false"
            android:process=".snoopsnitch_service" />

        <!-- ?? -->
        <service
            android:name="de.srlabs.snoopsnitch.active_test.ActiveTestService"
            android:exported="false" />

    </application>

</manifest>
